-- Alternative: If you want to use Supabase Auth with RLS
-- Enable RLS on all tables
ALTER TABLE users ENABLE ROW LEVEL SECURITY;
ALTER TABLE posts ENABLE ROW LEVEL SECURITY;
ALTER TABLE tags ENABLE ROW LEVEL SECURITY;
ALTER TABLE post_tags ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_likes ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_roles ENABLE ROW LEVEL SECURITY;

-- Simple policies for Spring Boot app (since we handle auth in application)
-- Allow all operations for now (Spring Security handles authorization)
CREATE POLICY \
Allow
all
operations
on
users\ ON users FOR ALL USING (true);
CREATE POLICY \Allow
all
operations
on
posts\ ON posts FOR ALL USING (true);
CREATE POLICY \Allow
all
operations
on
tags\ ON tags FOR ALL USING (true);
CREATE POLICY \Allow
all
operations
on
post_tags\ ON post_tags FOR ALL USING (true);
CREATE POLICY \Allow
all
operations
on
user_likes\ ON user_likes FOR ALL USING (true);
CREATE POLICY \Allow
all
operations
on
user_roles\ ON user_roles FOR ALL USING (true);
