-- Enable RLS and create policies for all tables

-- Enable RLS on all tables
ALTER TABLE users ENABLE ROW LEVEL SECURITY;
ALTER TABLE posts ENABLE ROW LEVEL SECURITY;
ALTER TABLE tags ENABLE ROW LEVEL SECURITY;
ALTER TABLE post_tags ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_likes ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_roles ENABLE ROW LEVEL SECURITY;

-- Users table policies
-- Users can read their own profile
CREATE POLICY \
Users
can
view
own
profile\ ON users
FOR SELECT USING (auth.uid()::text = id::text);

-- Users can update their own profile
CREATE POLICY \Users
can
update
own
profile\ ON users
FOR UPDATE USING (auth.uid()::text = id::text);

-- Allow registration (insert) for anyone
CREATE POLICY \Allow
user
registration\ ON users
FOR INSERT WITH CHECK (true);

-- Posts table policies
-- Anyone can view posts (public feed)
CREATE POLICY \Anyone
can
view
posts\ ON posts
FOR SELECT USING (true);

-- Users can create their own posts
CREATE POLICY \Users
can
create
own
posts\ ON posts
FOR INSERT WITH CHECK (auth.uid()::text = user_id::text);

-- Users can update their own posts
CREATE POLICY \Users
can
update
own
posts\ ON posts
FOR UPDATE USING (auth.uid()::text = user_id::text);

-- Users can delete their own posts
CREATE POLICY \Users
can
delete
own
posts\ ON posts
FOR DELETE USING (auth.uid()::text = user_id::text);

-- Tags table policies
-- Anyone can view tags
CREATE POLICY \Anyone
can
view
tags\ ON tags
FOR SELECT USING (true);

-- Allow tag creation (for post creation)
CREATE POLICY \Allow
tag
creation\ ON tags
FOR INSERT WITH CHECK (true);

-- Post_tags table policies (junction table)
-- Anyone can view post-tag relationships
CREATE POLICY \Anyone
can
view
post
tags\ ON post_tags
FOR SELECT USING (true);

-- Users can manage tags for their own posts
CREATE POLICY \Users
can
manage
tags
for
own
posts\ ON post_tags
FOR ALL USING (
    EXISTS (
        SELECT 1 FROM posts 
        WHERE posts.id = post_tags.post_id 
        AND posts.user_id::text = auth.uid()::text
    )
);

-- User_likes table policies
-- Users can view their own likes
CREATE POLICY \Users
can
view
own
likes\ ON user_likes
FOR SELECT USING (auth.uid()::text = user_id::text);

-- Users can create/delete their own likes
CREATE POLICY \Users
can
manage
own
likes\ ON user_likes
FOR ALL USING (auth.uid()::text = user_id::text);

-- User_roles table policies
-- Users can view their own roles
CREATE POLICY \Users
can
view
own
roles\ ON user_roles
FOR SELECT USING (auth.uid()::text = user_id::text);

-- Admin can manage roles (you might want to restrict this)
CREATE POLICY \Allow
role
management\ ON user_roles
FOR ALL USING (true);
